In [37]:
import pandas as pd
%matplotlib inline

In [38]:
t = pd.read_csv('./KO.csv', index_col=0)

In [39]:
for i in t.columns[1:]:
    t[i] = (t[i]-t['Day 0'])

In [45]:
t

,Day 1,Day 2,Day 3,Day 1.1,Day 2.1,Day 3.1,Day 1.2,Day 2.2,Day 3.2
pH,0.028,0.011,-0.015,-0.005,-0.035,-0.08,0.005,-0.001,-0.015
Glucose(g/L),0.140,0.020,-0.070,0.100,-0.050,-0.31,0.050,0.110,-0.020
Lactate(g/L),0.000,0.000,0.000,0.000,0.000,0.31,0.000,0.000,0.000
Glutamine(mmol/L),0.050,-0.130,-0.240,-0.030,-0.360,-0.56,-0.010,-0.200,-0.340
Glutamate(mmol/L),-0.320,-0.060,-0.070,-0.100,0.140,0.21,-0.320,-0.010,-0.070
Na(mmol/L),4.000,8.000,11.000,4.000,8.000,11.00,4.000,7.000,9.000
K(mmol/L),0.100,0.200,0.300,0.100,0.200,0.30,0.100,0.200,0.200
NH4(mmol/L),0.100,0.210,0.270,0.130,0.320,0.49,0.100,0.230,0.310