In [1]:
import pandas as pd
%matplotlib inline

In [2]:
grad_glc = pd.read_csv('../result/grad_glc_all.csv', index_col=0)
fix_glc = pd.read_csv('../result/fix_glc_all.csv', index_col=0)
fix_glu = pd.read_csv('../result/fix_glu_all.csv', index_col=0)

In [3]:
pd.DataFrame(fix_glc.T[404])

                             404
BIOMASS               100.000000
R00200                -50.563000
R00268                  0.000000
R00341                 16.260000
R00342                115.389000
R00351                  0.000000
R00405                -79.463000
R00658                 34.303000
R00703                  0.000000
R01015                -68.194367
R01049                 12.859900
R01056                 -8.573267
R01061                132.102100
R01070                 68.194367
R01082               -115.389000
R01196                 -0.000000
R01197                -79.463000
R01325                  0.000000
R01512               -132.102100
R01518                -34.303000
R01528                  0.000000
R01529                 -8.573267
R01641                  4.286633
R01786                100.000000
R01830                  4.286633
R01899                  0.000000
R01900                  0.000000
R02035                  0.000000
R02164                 79.463000
R02740                 72.481000
R04779                 68.194367
Glucose_input         100.000000
Oxygen_input          403.503650
CO2_output            463.300650
Lactate_output          0.000000
Glutamate_input       227.824000
Ammonia_output        191.898000
Glu_Exchange            0.000000
acetyl_CoA_hydrolase   -4.657100
NADP_Exchange         313.356100
ADP_Exchange         -210.545820
AMP_Exchange           12.859900
R00835                  0.000000
R08575                 -4.286633
R00243                227.824000
Oxophos               403.503650

In [8]:
pd.DataFrame(grad_glc.T[404])

                             404
BIOMASS               100.000000
R00200               -162.998000
R00268                112.435000
R00341               -175.638000
R00342                 35.926000
R00351               -112.435000
R00405                  0.000000
R00658                338.636000
R00703                  0.000000
R01015               -220.360870
R01049                 12.859900
R01056                 -8.573267
R01061                436.435100
R01070                220.360870
R01082                -35.926000
R01196               -112.435000
R01197                  0.000000
R01325                112.435000
R01512               -436.435100
R01518               -338.636000
R01528                  0.000000
R01529                 -8.573267
R01641                  4.286633
R01786                252.166500
R01830                  4.286633
R01899                112.435000
R01900               -112.435000
R02035                  0.000000
R02164                  0.000000
R02740                224.647500
R04779                220.360870
Glucose_input         252.166500
Oxygen_input          515.938650
CO2_output            529.244650
Lactate_output          0.000000
Acetate_output          0.000000
Glutamate_input        35.926000
Ammonia_output          0.000000
Glu_Exchange            0.000000
acetyl_CoA_hydrolase   -4.657100
NADP_Exchange         425.791100
ADP_Exchange          576.499180
AMP_Exchange           12.859900
R00835                  0.000000
R08575                 -4.286633
R00243                 35.926000
Oxophos               515.938650

In [5]:
pd.DataFrame(fix_glu.T[0])

                          0
BIOMASS                 0.0
R00200               -100.0
R00268                  0.0
R00341                100.0
R00342                100.0
R00351                  0.0
R00405               -100.0
R00658                  0.0
R00703               -100.0
R01015                  0.0
R01049                  0.0
R01056                 -0.0
R01061                  0.0
R01070                  0.0
R01082               -100.0
R01196                  0.0
R01197               -100.0
R01325                  0.0
R01512                  0.0
R01518                  0.0
R01528                  0.0
R01529                  0.0
R01641                  0.0
R01786                  0.0
R01830                  0.0
R01899                  0.0
R01900                  0.0
R02035                  0.0
R02164                100.0
R02740                  0.0
R04779                  0.0
Glucose_input           0.0
Oxygen_input            0.0
CO2_output            200.0
Lactate_output        100.0
Acetate_output          0.0
Glutamate_input       100.0
Ammonia_output        100.0
Glu_Exchange            0.0
acetyl_CoA_hydrolase    0.0
NADP_Exchange           0.0
ADP_Exchange          100.0
AMP_Exchange            0.0
R00835                  0.0
R08575                  0.0
R00243                100.0
Oxophos                 0.0