In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [21]:
t = pd.read_csv('../result/__fba__.csv', index_col=0)

In [28]:
t.loc[[
    'BIOMASS', 'Glucose_input', 'Oxygen_input', 
    'Glutamate_input', 'Lactate_output', 'R00405',
    'R00341', 'R01056'
]]

                  Control   Clone A   Clone B
BIOMASS          0.001752  0.002984  0.002265
Glucose_input    0.002778  0.052390  0.018905
Oxygen_input     0.007070  0.018550  0.009139
Glutamate_input  0.016248 -0.002080  0.014691
Lactate_output   0.014308  0.083425  0.042811
R00405          -0.013648  0.000000 -0.011331
R00341           0.012541 -0.008394  0.009900
R01056          -0.000150 -0.000256 -0.000194

In [26]:
(t.T/np.array(list(t['Control']))).T

                      Control    Clone A    Clone B
BIOMASS                   1.0   1.703233   1.292645
R00200                    1.0   6.018281   2.892995
R00268                    NaN        inf        NaN
R00341                    1.0  -0.669302   0.789382
R00342                    1.0   0.075094   0.850606
R00351                    NaN       -inf        NaN
R00405                    1.0  -0.000000   0.830218
R00658                    1.0  37.631022  12.836941
R00703                    1.0   5.830664   2.992091
R01015                    1.0  23.162368   8.187881
R01049                    1.0   1.703233   1.292645
R01056                    1.0   1.703233   1.292645
R01061                    1.0  23.531488   8.306487
R01070                    1.0  23.162368   8.187881
R01082                    1.0   0.075094   0.850606
R01196                    NaN       -inf        NaN
R01197                    1.0  -0.000000   0.830218
R01325                    NaN        inf        NaN
R01512                    1.0  23.531488   8.306487
R01518                    1.0  37.631022  12.836941
R01528                    NaN        NaN        NaN
R01529                    1.0   1.703233   1.292645
R01641                    1.0   1.703233   1.292645
R01786                    1.0  18.857666   6.804698
R01830                    1.0   1.703233   1.292645
R01899                    NaN        inf        NaN
R01900                    NaN       -inf        NaN
R02035                    NaN        NaN        NaN
R02164                    1.0   0.000000   0.830218
R02740                    1.0  22.460354   7.962311
R04779                    1.0  23.162368   8.187881
Glucose_input             1.0  18.857666   6.804698
Oxygen_input              1.0   2.623627   1.292645
CO2_output                1.0   0.677249   0.905801
Lactate_output            1.0   5.830664   2.992091
Acetate_output            NaN        NaN        NaN
Glutamate_input           1.0  -0.127997   0.904204
Ammonia_input             1.0  -0.201804   0.888548
Glu_Exchange              NaN        NaN        NaN
acetyl_CoA_hydrolase      1.0   1.703233   1.292645
NADP_Exchange             1.0   2.888409   1.292645
ADP_Exchange              1.0  11.554408   3.582522
AMP_Exchange              1.0   1.703233   1.292645
R00835                    NaN        NaN        NaN
R08575                    1.0   1.703233   1.292645
R00243                    1.0  -0.127997   0.904204
Oxophos                   1.0   2.623627   1.292645

In [24]:
t[['']]

                       Control   Clone A   Clone B
BIOMASS               0.001752  0.002984  0.002265
R00200               -0.015194 -0.091441 -0.043956
R00268                0.000000  0.006507  0.000000
R00341                0.012541 -0.008394  0.009900
R00342                0.014278  0.001072  0.012145
R00351                0.000000 -0.006507  0.000000
R00405               -0.013648  0.000000 -0.011331
R00658                0.002653  0.099835  0.034056
R00703               -0.014308 -0.083425 -0.042811
R01015               -0.002221 -0.051441 -0.018184
R01049                0.000225  0.000384  0.000291
R01056               -0.000150 -0.000256 -0.000194
R01061                0.004367  0.102753  0.036271
R01070                0.002221  0.051441  0.018184
R01082               -0.014278 -0.001072 -0.012145
R01196                0.000000 -0.006507  0.000000
R01197               -0.013648  0.000000 -0.011331
R01325                0.000000  0.006507  0.000000
R01512               -0.004367 -0.102753 -0.036271
R01518               -0.002653 -0.099835 -0.034056
R01528                0.000000  0.000000  0.000000
R01529               -0.000150 -0.000256 -0.000194
R01641                0.000075  0.000128  0.000097
R01786                0.002778  0.052390  0.018905
R01830                0.000075  0.000128  0.000097
R01899                0.000000  0.006507  0.000000
R01900                0.000000 -0.006507  0.000000
R02035                0.000000  0.000000  0.000000
R02164                0.013648  0.000000  0.011331
R02740                0.002296  0.051569  0.018281
R04779                0.002221  0.051441  0.018184
Glucose_input         0.002778  0.052390  0.018905
Oxygen_input          0.007070  0.018550  0.009139
CO2_output            0.032630  0.022099  0.029556
Lactate_output        0.014308  0.083425  0.042811
Acetate_output        0.000000  0.000000  0.000000
Glutamate_input       0.016248 -0.002080  0.014691
Ammonia_input        -0.015618  0.003152 -0.013878
Glu_Exchange          0.000000  0.000000  0.000000
acetyl_CoA_hydrolase -0.000082 -0.000139 -0.000105
NADP_Exchange         0.005491  0.015859  0.007097
ADP_Exchange          0.010619  0.122693  0.038042
AMP_Exchange          0.000225  0.000384  0.000291
R00835                0.000000  0.000000  0.000000
R08575               -0.000075 -0.000128 -0.000097
R00243                0.016248 -0.002080  0.014691
Oxophos               0.007070  0.018550  0.009139